{% load static %}

<!doctype html>

<html lang="es">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin page</title>
    <!-- CSS files -->
    <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/tabler-flags.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/tabler-payments.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/tabler-vendors.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/demo.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />

    <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
</head>

<body class=" border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
        <div class="container-xl col-lg-7">
            <div class="empty">
                <div class="empty-header">{{status}}</div>
                <p class="empty-title">Oops… Ocurrió un error inesperado</p>
                {% if error %}
                <p class="empty-subtitle text-muted">
                    {{mensaje}}
                </p>
                {% endif %}
                {% if error_alumno or error_empresa %}
                <div class="empty-action">
                    <a href="{% url 'logout' %}" class="btn btn-primary">
                        <!-- Download SVG icon from http://tabler-icons.io/i/arrow-left -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                            <line x1="5" y1="12" x2="11" y2="18" />
                            <line x1="5" y1="12" x2="11" y2="6" />
                        </svg>
                        Inicio
                    </a>
                </div>
                {% endif %}
                {% if not error_alumno and not error_empresa %}
                <div class="empty-action">
                    <a href="{% url 'home' %}" class="btn btn-primary">
                        <!-- Download SVG icon from http://tabler-icons.io/i/arrow-left -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                            <line x1="5" y1="12" x2="11" y2="18" />
                            <line x1="5" y1="12" x2="11" y2="6" />
                        </svg>
                        Inicio
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="{% static 'js/tabler.min.js' %}"></script>
</body>

</html>