{% extends 'base.html' %}

{% block content %}

{% if curso and encuesta %}
<div class="page-wrapper">
    <div class="container-xl col-lg-7">
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col-md-auto">
                    <h2 class="page-title">
                        Encuesta Recepción del Servicio
                    </h2>
                </div>

                <!-- <div class="col-md-2 ms-auto d-print-none" id="container-agregar-ov">
                    <button class="btn btn-primary w-100" id='btn-agregar-ov' type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send" width="24"
                            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="10" y1="14" x2="21" y2="3"></line>
                            <path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5">
                            </path>
                        </svg>
                        Enviar
                    </button>
                </div> -->
                <div class="col-md-auto ms-auto d-print-none">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="btn-list">
                            <a class="btn" href="{% url 'home' %}">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-arrow-back-up" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M9 13l-4 -4l4 -4m-4 4h11a4 4 0 0 1 0 8h-1"></path>
                                </svg>
                                Atrás
                            </a>

                            <button type="submit" class="btn btn-primary" id="btn-enviar">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send"
                                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="10" y1="14" x2="21" y2="3"></line>
                                    <path
                                        d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5">
                                    </path>
                                </svg>
                                Enviar
                            </button>
                        </div>

                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl col-lg-7">
            <div class="card card-md">
                <div class="card-body">
                    <div class="form-group mb-3 row">
                        <label class="form-label col-lg-3 col-form-label">Nombre de la Empresa Cliente:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" readonly value="{{curso.empresa.nombre_empresa}}">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-lg-3 col-form-label">Curso:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" readonly value="{{curso.nombre_curso}}">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-lg-3 col-form-label">Fecha inicio:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" readonly value="{{curso.fecha_inicio}}">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-lg-3 col-form-label">Fecha termino:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" readonly value="{{curso.fecha_termino}}">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-lg-3 col-form-label">Responsable cliente:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" readonly
                                value="{{curso.empresa.nombre_responsable}}">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-lg-3 col-form-label">Responsable Exsol:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" readonly value="{{curso.resp_exsol}}">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-lg-3 col-form-label">Contrato:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" readonly value="{{curso.contrato}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-label col-lg-3 col-form-label">Requerimiento del servicio:</label>
                        <div class="col-lg-6">
                            <textarea type="text" class="form-control" readonly
                                value="{{curso.req_servicio}}">{{curso.req_servicio}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="page-wrapper">
        <div class="container-xl col-lg-7">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row g-2 align-items-center">
                    <div class="col-md-auto">
                        <h2 class="page-title">
                            {{error_preguntas}}
                        </h2>
                    </div>
                    <div class="col-md-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a class="btn" href="{% url 'home' %}">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-arrow-back-up" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M9 13l-4 -4l4 -4m-4 4h11a4 4 0 0 1 0 8h-1"></path>
                                </svg>
                                Atrás
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if lista_preguntas %}
    <div class="page-body">
        <div class="container-xl col-lg-7">
            <div class="card card-md">
                <div class="card-body">
                    <div class="space-y-4">
                        <div class="col-md-12">
                            <div class="form-group row">
                                {% for value in lista_preguntas %}
                                <div class="col-md-12">
                                    <h3 class="mb-3" name="pregunta1">{{value.orden}}. {{value.pregunta}}
                                    </h3>
                                </div>
                                <div class="row mb-4">
                                    {% for resp in value.respuesta %}
                                    {% if resp == 'Observacion' %}
                                    <div>
                                        <textarea class="form-control" name="respuesta{{value.orden}}"
                                            id="respuesta{{value.orden}}" rows="4"></textarea>
                                    </div>
                                    {% else %}
                                    <div class="col-sm-2">
                                        <label class="radio">
                                            <input type="radio" name="respuesta{{value.orden}}"
                                                id="respuesta{{value.orden}}" value="{{resp}}">
                                            {{resp}}
                                        </label>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    </form>

    <div class="modal modal-blur fade" id="modal-error" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-danger"></div>
                <div class="modal-body text-center py-4">

                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 9v2m0 4v.01" />
                        <path
                            d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" />
                    </svg>
                    <h3>Alerta</h3>
                    <div class="text-muted" id="error-content">Debe completar todos los campos</div>
                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <div class="row">

                            <div class="col"><a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal">
                                    OK
                                </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% if error %}
<script>
    $(document).ready(function () {
        $("#modal-error").modal('show');
    });
</script>
{% endif %}

<script>
    $("#btn-enviar").on('click', function (e) {
        const largo_lista = "{{ lista_preguntas|length}}" - $('textarea').length
        if ($("input[type='radio']:checked").length < largo_lista) {
            e.preventDefault()
            $("#modal-error").modal('show');
        }

    })
</script>

{% endblock %}