{% extends 'base.html' %}

{% block content %}

<div class="page-body">

    <div class="container-xl col-lg-12">


        <div class="col-md-12">
            <div class="card">
                <ul class="nav nav-tabs nav-fill" data-bs-toggle="tabs">
                    <li class="nav-item">
                        <a href="#tabs-home-16" class="nav-link active" data-bs-toggle="tab">
                            <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <desc>Download more icon variants from https://tabler-icons.io/i/home</desc>
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                                <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                            </svg>
                            Recepción de servicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabs-profile-16" class="nav-link" data-bs-toggle="tab">
                            <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <desc>Download more icon variants from https://tabler-icons.io/i/user</desc>
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                            </svg>
                            Satisfacción
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabs-activity-16" class="nav-link" data-bs-toggle="tab">
                            <!-- Download SVG icon from http://tabler-icons.io/i/activity -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <desc>Download more icon variants from https://tabler-icons.io/i/user</desc>
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                            </svg>
                            Alumnos
                        </a>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tabs-home-16">
                            {% if encuestas %}
                            {% for value in encuestas %}

                            <div class='card-header'>
                                <h3 class="card-title">Resumen de resultados - Encuesta recepcion de servicio -
                                    {{value.encuesta.nombre}}</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table card-table table-vcenter datatable">
                                        <thead>
                                            <tr>
                                                <th>N° de contrato</th>
                                                <th>Curso</th>
                                                <th>Cliente</th>
                                                <th>Fecha inicio</th>
                                                <th>Fecha termino</th>
                                                {% for pregunta in value.preguntas %}
                                                <th>{{pregunta}}</th>
                                                {% endfor %}
                                                <th>Porcentaje Satisfacción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for curso in value.cursos %}
                                            <tr>
                                                <td>{{curso.contrato}}</td>
                                                <td>{{curso.nombre_curso}}</td>
                                                <td>{{curso.empresa.nombre_empresa}}</td>
                                                <td>{{curso.fecha_inicio|date:"d/m/Y"}}</td>
                                                <td>{{curso.fecha_termino|date:"d/m/Y"}}</td>
                                                {% for respuesta in value.respuestas %}
                                                {% if respuesta.curso_id == curso.curso_id %}
                                                <td>{{respuesta.respuesta_valor}}</td>
                                                {% endif %}
                                                {% endfor %}
                                                {% for porcentaje in value.porcentajes %}
                                                {% if porcentaje.curso_id == curso.curso_id %}
                                                <td>{{porcentaje.porc}}%</td>
                                                {% endif %}
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="tabs-profile-16">
                            <div>Fringilla egestas nunc quis tellus diam rhoncus ultricies tristique enim at diam, sem
                                nunc
                                amet, pellentesque id egestas velit sed</div>
                        </div>
                        <div class="tab-pane" id="tabs-activity-16">
                            {% if encuestas_alumnos %}
                            {% for value in encuestas_alumnos %}

                            <div class='card-header'>
                                <h3 class="card-title">Resumen de resultados - Encuesta de Satisfacción del alumno
                                    participante -
                                    {{value.encuesta.nombre}}</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table card-table table-vcenter datatable">
                                        <thead>
                                            <tr>
                                                <th>N° de contrato</th>
                                                <th>Curso</th>
                                                <th>Cliente</th>
                                                <th>Fecha inicio</th>
                                                <th>Fecha termino</th>
                                                {% for pregunta in value.preguntas %}
                                                <th>Promedio {{pregunta}}</th>
                                                {% endfor %}
                                                <th>Promedio acumulado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for curso in value.cursos %}
                                            <tr>

                                                <td>{{curso.contrato}}</td>
                                                <td>{{curso.nombre_curso}}</td>
                                                <td>{{curso.empresa.nombre_empresa}}</td>
                                                <td>{{curso.fecha_inicio|date:"d/m/Y"}}</td>
                                                <td>{{curso.fecha_termino|date:"d/m/Y"}}</td>
                                                {% for promedio in value.promedios %}
                                                {% if promedio.curso_id == curso.curso_id %}
                                                <td>{{promedio.promedio}}</td>
                                                {% endif %}
                                                {% endfor %}
                                                {% for prom_acm in value.acumulados %}
                                                {% if prom_acm.curso_id == curso.curso_id %}
                                                <td>{{prom_acm.valor}}</td>
                                                {% endif %}
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td>TOTAL</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                {% for total in value.total_promedios %}
                                                <td>{{total.promedio}}</td>
                                                {% endfor %}
                                                <td>{{value.total_acumulado}}</td>

                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if user.is_staff %}




        {% else %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-title">Ocurrió un error&hellip;</h4>
            <div class="text-muted">No se encontraron resultados de encuestas...</div>
        </div>
        {% endif %}

    </div>
</div>









{% endblock %}