.form-control,
.form-select {
  background-color: #fff !important;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #f1f5f9 !important;
}

#group-encuestas:hover {
  color: #fff !important;
}
