{% extends 'base.html' %}

{% block content %}

<div class="page-body">
    <div class="container-xl col-lg-4">
        <div class="card card-md">
            <div class='card-header'>
                <h3 class="card-title">Encuestas</h3>
            </div>
            <div class="card-body">
                <div class="space-y-4">
                    <div class="col-md-12">
                        <div class="form-group row">

                            <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="submit" class="form-selectgroup-input"
                                        onclick="location.href='{% url 'encuesta_satisfaccion' %}'">
                                    <div class="form-selectgroup-label p-3 btn btn-outline-primary active w-100"
                                        id="group-encuestas">
                                        <div class="form-selectgroup-label-content d-flex align-items-center">
                                            <div>
                                                <div class="font-weight-medium">Encuesta de Satisfacción</div>
                                            </div>
                                        </div>
                                    </div>
                                </label>

                                <label class="form-selectgroup-item flex-fill">
                                    <input type="submit" class="form-selectgroup-input"
                                        onclick="location.href='{% url 'encuesta_curso' %}'">
                                    <div class="form-selectgroup-label p-3 btn btn-outline-primary active w-100"
                                        id="group-encuestas">
                                        <div class="form-selectgroup-label-content d-flex align-items-center">
                                            <div>
                                                <div class="font-weight-medium">Encuesta de Satisfacción del alumno
                                                    participante
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}